defmodule <%= complex_type.module %> do
  use Ecto.Schema

  @xml_fields [
    <%= xml_fields(complex_type) %>
  ]

  use Noap.Model

  embedded_schema do
    <%= schema_fields(complex_type) %>
  end
end
