@schema_<%= schema_wrap.target_ns %> %Noap.Schema{
  wsdl: @wsdl,
  schema_ns: "<%= schema_wrap.schema_ns %>",
  target_namespace: "<%= schema_wrap.target_namespace %>",
  target_ns: "<%= schema_wrap.target_ns %>",
  action_tag_attributes: <%= 
    if schema_wrap.element_form_default == "qualified",
      do: "%{xmlns: \"#{schema_wrap.target_namespace}\"}",
      else: "%{}"
  %>
}
