defmodule <%= wrap.module_prefix %>.Service do

  <%= wsdl_instance %>

  <%= schema_instances %>

  <%= operation_instances %>

  <%= operation_functions %>

  @spec application :: atom()
  def application do
    {:ok, application} = :application.get_application(__MODULE__)
    application
  end

  @spec type_map :: map()
  def type_map do
    Noap.Type.type_map(application())
  end
end
